<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    

<mapper namespace="com.park.mall.boradMapper">

			<!-- 로그인 -->
		<!-- <select id="selectBorad" resultType="com.park.mall.model.BoradVO">
			SELECT 
				*
			FROM 
				borad 
		</select> -->
		
		<select id="selectBoradlimit" resultType="com.park.mall.model.BoradVO">
			select 
 			borad_id, borad_title, borad_name, borad_time
			from borad
			order by borad_id desc
			limit #{index_no},5 ;
		</select>
</mapper>