<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    

<mapper namespace="com.park.mall.boradMapper">
		
		<select id="selectBoradlimit" resultType="com.park.mall.model.BoradVO">
			select 
 			borad_id, borad_title,borad_contents, borad_name, borad_time
			from borad
			order by borad_id desc
			limit #{index_no},5 ;
		</select>
		
		<select id="searchList" resultType="com.park.mall.model.BoradVO">
			 SELECT  * FROM borad
			 	 <include refid="search"></include>	
		</select>
		
		<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">WHERE borad_title LIKE CONCAT('%', #{keyword}, '%') limit #{index_no},5;</if>
			<if test="searchType == 'c'.toString()">WHERE borad_contents LIKE CONCAT('%', #{keyword}, '%') limit #{index_no},5;</if>
			<if test="searchType == 'w'.toString()">WHERE borad_name LIKE CONCAT('%', #{keyword}, '%') limit #{index_no},5;</if>
			<if test="searchType == 'tc'.toString()">WHERE borad_title LIKE CONCAT('%', #{keyword}, '%') OR borad_contents LIKE CONCAT('%', #{keyword}, '%') limit #{index_no},5;</if>
		</if>
	</sql>
		<select id="selectboradContent" resultType="com.park.mall.model.BoradVO"> 
				SELECT *FROM borad
				WHERE borad_id = #{borad_id}
		</select>
		
		<insert id="insertBorad">
		INSERT INTO borad(borad_id, borad_title,borad_contents, borad_name, borad_time)
			VALUES(
				   #{borad_id, jdbcType=NUMERIC}
				 , #{borad_title}
				 , #{borad_contents}
				 , #{borad_name}
				 , now()
		);
		</insert>
		<delete id="boradDelete">
		DELETE FROM borad WHERE borad_id = #{borad_id};
		</delete>
		<update id="boradUpdate">
			UPDATE borad SET 
			borad_title = #{borad_title}
		   ,borad_contents = #{borad_contents} 
			WHERE 
			borad_id = #{borad_id};
		</update>
</mapper>