<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    

<mapper namespace="com.park.mall.report">
	<insert id="insertreport">
			INSERT INTO report(member_id,report_contents,report_date,reporter_Id)
			VALUES(
				  #{member_id}
				, #{report_contents}
				, now()
				, #{reporter_Id}
			);
	</insert>
	<select id="selReportList" resultType="com.park.mall.model.ReportVO">
		SELECT * FROM report
	</select>
	
	<select id="reportiIdChk" resultType="int">
		SELECT COUNT(member_id)
			FROM report
		where member_id= #{reportiIdChk}
	</select>
	
	<select id="" resultType="com.park.mall.model.BoradVO">
		
	</select>
	
	<select id="selProductBoard" resultType="com.park.mall.model.ProductBoardVO">
			SELECT *
			FROM productboard
			where productboard_name= #{id}
	</select>
	<select id="selBoard" resultType="com.park.mall.model.BoradVO">
			SELECT *
			FROM borad
			where borad_name= #{id}
	</select>
	<select id="selreply" resultType="com.park.mall.model.ReplyVO">
			SELECT *
			FROM reply
			where reg_name = #{id}
	</select>
	
	<update id="blacklistset">
	update memberuser set blacklist = #{blacklist}
			where id = #{id}
	</update>
	<update id="blacklistDel">
	update memberuser set blacklist = #{blacklist}
			where id = #{id}
	</update>
	
	
	
	
	
</mapper>